/*@import url("style.css");*/
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-width: 1000px;
    /*height: auto;*/
    /*!*overflow: hidden;*! 07/04/2022 - JOSEPH HOSTEN*/
    /*background: #39393B;*/
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 30px;
    padding-top: 35px;
    background: hsla(0, 5%, 5%, 1) url("/assets/img/bg2.gif") no-repeat fixed center;
    background-size: cover;
}

.title {
    padding-left: 15%;
    color: lightpink;
    text-shadow: 3px 2px black;
    font-size: 50px;
}

p, ul {
    padding-left: 15%;
    color: lightpink;
    text-shadow: 3px 2px black;
    font-size: 27px;
    padding-right: 15%;
    line-height: 85%;
}

ul {
    padding-left: 20%;
}

h5 {
    padding-left: 15%;
    color: lightpink;
    text-shadow: 3px 2px black;
    font-size: 30px;

}


.highlight {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.header {
    font-size: 30px;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
