@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");

body, html {
    height: 100%;
    scroll-behavior: smooth;
}


body {
    width: 100%;
    min-width: 1000px;
    /*height: auto;*/
    /*!*overflow: hidden;*! 07/04/2022 - JOSEPH HOSTEN*/
    background: hsla(0, 5%, 5%, 1) url("/assets/img/bg2.gif") no-repeat fixed center;
    background-size: cover;
    /*background: #39393B;*/
    font-family: "Saira Semi Condensed", sans-serif;
    font-size: 70px;
    padding-top: 35px;
}

svg {
    width: 100%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a {
    color: snow;
}

.content, .copyright, .credits, .credits-github, .credits-heart {
    padding-left: 15%;
    color: lightpink;
    text-shadow: 3px 2px black;
}


.header {
    padding: 10px;
}

hr {
    width: 20%;
    color: pink;
    opacity: 50%;
    margin: 30px auto 30px 50%;
}

.copyright {
    font-size: 28px;
}

.credits, .credits-github, .credits-heart {
    font-size: 30px;
}

.copyright {
    font-size: 20px;
}

@media screen and (min-width: 500px) {
    body {
        width: 420px;
    }
}

@media screen and (min-width: 800px) {
    body {
        width: 720px;
    }
}

.readmore {
    font-size: 25px;
    margin-top: -10%;
    margin-left: 1%;
}

.readmore-url {
    color: lightpink;
    text-shadow: 3px 2px black;
}

